* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
}

html,
body {
  padding: 1px;
  font-size: 14px;

}

::selection {
  background-color: #C80028;
  color: white;
}

body {
  display: flex;
  flex-direction: column;
  height: 100svh;

}

.App {
  width: 100%;
}

.max-margin {
  margin-top: 4rem;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.view {
  margin-top: 2rem;
}

.disp {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.article {
  margin-top: 10rem;
  padding-inline: 2rem;
  line-height: 1.6;
}

@media (min-width: 768px) {
  .article {
    padding-inline: 4rem;
    width: 100%;
  }

}

.btn {
  background-color: #C80028;
  color: white;
  padding-inline: 10px;
  width: fit-content;
  height: 40px;
  border-radius: 10px;
  border: none;
}

.profile {
  padding-inline: 1rem;
  display: flex;
}

.viewer {
  display: flex;
  width: 100%;
  align-items: center;
  padding-inline: 2rem;
  justify-content: space-between;
}